Repository katataku/ft_transcendence, pull requests merged in 2023-02, with the labels that each got.

#16 Health Check API
  backend/.env
  backend/package-lock.json
  backend/package.json
  backend/src/app.controller.spec.ts
  backend/src/app.controller.ts
  backend/src/app.module.ts
  backend/src/app.service.ts
  backend/src/healthCheck/healthCheck.controller.ts
  backend/src/healthCheck/healthCheck.entity.ts
  backend/src/healthCheck/healthCheck.module.ts
  backend/src/healthCheck/healthCheck.service.ts
  config/.env_backend
  config/.env_db
  config/.env_docker
  docker-compose.yml
Labels: feature

#36 [add] swagger api
  docker-compose.yml
  swagger/api.yml
Labels: feature

#72 Feat/65 game score update
  frontend/src/Game/Match.css
  frontend/src/Game/Match.tsx
  frontend/src/utils.tsx
Labels: feature

#75 [Backend] User
  Makefile
  backend/package-lock.json
  backend/package.json
  backend/src/Users/index.ts
  backend/src/Users/users.controller.ts
  backend/src/Users/users.module.ts
  backend/src/Users/users.service.ts
  backend/src/common/app.module.ts
  backend/src/common/dto/health.dto.ts
  backend/src/common/dto/users.dto.ts
  backend/src/common/params/user.params.ts
  backend/src/entities/chatMuteUser.entity.ts
  backend/src/entities/healthCheck.entity.ts
  backend/src/entities/users.entity.ts
  backend/src/healthCheck/healthCheck.controller.ts
  backend/src/healthCheck/healthCheck.service.ts
  backend/src/main.ts
  swagger/api.yml
Labels: feature

#113 Feat/80 game backend
  backend/src/common/app.module.ts
  backend/src/game/game.gateway.ts
  backend/src/game/game.module.ts
  backend/src/game/index.ts
  backend/src/game/types/game.d.ts
  frontend/src/Game/components/Game.tsx
  frontend/src/Game/types/Game.d.ts
Labels: feature

#132 [User] Delete, Update
  backend/src/common/dto/users.dto.ts
  backend/src/common/params/user.params.ts
  backend/src/users/users.controller.ts
  backend/src/users/users.service.ts
  swagger/api.yml
Labels: feature, users

#133 [チャット] protectedルーム(backend)
  backend/migrations/1676466055353-migrations.ts
  backend/src/chatRoom/chatRoom.controller.ts
  backend/src/chatRoom/chatRoom.module.ts
  backend/src/chatRoom/chatRoom.service.ts
  backend/src/chatRoomMembers/chatRoomMembers.module.ts
  backend/src/common/dto/chatRoom.dto.ts
  backend/src/entities/chatRoom.entity.ts
  frontend/src/Chat/components/ChatList/ChatListDisplay.tsx
  frontend/src/Chat/components/ChatList/ChatListModal.tsx
  frontend/src/Chat/types/ChatList.d.ts
  swagger/api.yml
Labels: chat, backend

#134 [User] frontendからuserを作成
  frontend/src/App.tsx
  frontend/src/Login.tsx
  frontend/src/User/Resistration.tsx
  frontend/src/index.tsx
  frontend/src/types/User.d.ts
Labels: frontend, users

#126 init matchlist erd
  backend/migrations/1676466055353-migrations.ts
  backend/src/common/app.module.ts
  backend/src/common/dto/match.dto.ts
  backend/src/entities/match.entity.ts
  backend/src/match/index.ts
  backend/src/match/match.controller.ts
  backend/src/match/match.module.ts
  backend/src/match/match.service.ts
  frontend/src/Game/components/MatchList.tsx
  frontend/src/Game/types/Game.d.ts
  frontend/src/Game/types/MatchList.d.ts
  swagger/api.yml
Labels: backend, game

#146 Feat/144 get match list
  frontend/src/App.tsx
  frontend/src/Game/components/Game.tsx
  frontend/src/Game/components/MatchList.tsx
Labels: frontend, game

#137 Feat/114 game synchronous
  backend/src/game/game.gateway.ts
  backend/src/game/types/game.model.ts
  frontend/src/Game/components/Game.tsx
  frontend/src/Game/types/Game.d.ts
  frontend/src/Game/types/game.model.ts
Labels: feature, frontend, backend, game

#159 axios-utils init
  frontend/src/Game/components/MatchList.tsx
  frontend/src/Game/types/MatchList.d.ts
  frontend/src/utils/matchAxios.tsx
Labels: enhancement, game
